.ingredientBtn {
  display: inline-block;
  border: none;
  width: 60px;
  height: 60px;
  background-size: contain;
}

.MeatIcon {
  background-image: url("../../assets/Meat.png");
}

.CheeseIcon {
  background-image: url("../../assets/Cheese.png");
}

.BaconIcon {
  background-image: url("../.././assets/Bacon.png");
}

.SaladIcon {
  background-image: url("../.././assets/Salad.png");
}